<!-- Pemanggilan bagian sidebar -->
<%- include("sidebar") %>
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="mb-0 text-gray-800 mt-5">
      Selamat Datang Pada Panel Administrator Wara Wiri Tour
    </h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <% highlightBlogs.forEach(blog => { %>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4 mb-3">
          <a
            href="/blog-detail-<%= blog.title %>"
            class="text-reset text-decoration-none"
          >
            <div class="card">
              <img src="<%= blog.imageUrl %>" class="card-img-top" />
              <div class="card-body">
                <p class="card-text"><%= blog.title %></p>
              </div>
            </div></a
          >
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
