<!-- Pemanggilan bagian sidebar -->
<%- include("sidebar") %>
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row mt-5">
    <div class="col"><h3 class="text-center">Contact</h3></div>
  </div>
  <!-- Divider -->
  <hr class="sidebar-divider my-2 mt-2" />
  <!-- Form -->
  <div class="row justify-content-center p-5">
    <div class="col-lg-8">
      <form method="POST" action="/updateContact">
        <!--  Berita  -->
        <div class="form-group">
          <input type="email" placeholder="Email" class="form-control" id="email" name="email" value="<%= kontak.email %>" required />
        </div>
        <!--  No Wa  -->
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">+62</span>
            </div>
            <input type="text" placeholder="Nomor WhatsApp" class="form-control" id="noTelp" name="noTelp" value="<%= kontak.noTelp %>" required />
          </div>
        </div>                
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Simpan <i class="fa-regular fa-floppy-disk"></i></button>
      </form>
    </div>
  </div>
</div>
