<!-- Pemanggilan bagian sidebar -->
<%- include("sidebar") %>
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row mt-5">
    <div class="col"><h1 class="text-center">Blog</h1></div>
  </div>
  <!-- Divider -->
  <hr class="sidebar-divider my-2 mt-2" />
  <!-- Form -->
  <div class="row justify-content-center p-5">
    <div class="col-lg-8">
      <form method="POST" action="#" enctype="multipart/form-data">
        <!--  Berita  -->
        <div class="form-group">
          <input type="email" placeholder="Email" class="form-control" id="email" name="email" required />
        </div>
        <!--  No Wa  -->
        <div class="form-group">
          <input type="text" placeholder="Nomor Whatsapp" class="form-control" id="nowa" name="nowa" required />
        </div>
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Simpan <i class="fa-regular fa-floppy-disk"></i></button>
      </form>
    </div>
  </div>
</div>
