<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Wara Wiri Tour</title>

    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

    <!-- icon -->
    <script src="https://kit.fontawesome.com/276211d765.js" crossorigin="anonymous"></script>

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="/img/warawiri-logo.svg" rel="icon" />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
          <img src="/img/warawiri-logo.svg" alt="" width="40%" />
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Heading -->
        <div class="sidebar-heading">Menu</div>

        <!-- Nav Item - Blog -->
        <li class="nav-item">
          <a class="nav-link" href="/blog-admin">
            <i class="fas fa-fw fa-calendar"></i>
            <span> Blog</span></a
          >
        </li>

        <!-- Nav Item - Paket -->
        <li class="nav-item">
          <a class="nav-link" href="/paket">
            <i class="fas fa-clipboard-list"></i>
            <span>Paket</span></a
          >
        </li>

        <!-- Nav Item - Kontak Info -->
        <li class="nav-item">
          <a class="nav-link" href="/kontak">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            <span>Kontak Info</span>
          </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <li class="nav-item">
          <a class="nav-link" href="/logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span>logout</span></a
          >
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->
      
  </body>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>
</html>
