<!-- Pemanggilan bagian header -->
<%- include("partials/header") %>
<!-- Pemanggilan bagian Navbar -->
<%- include("partials/navbar") %>

<!-- Start About Us -->
<section id="about-us" class="pt-5">
  <div class="container">
    <div class="row text-center mb-3">
      <div class="col-md-12">
        <h2>Wara Wiri Tour</h2>
      </div>
    </div>
    <div class="row">
        <p class="text-center">Wara Wiri Tour ini adalah nama website dari destinasi atau tour yang akan Anda telusuri disaat Anda ingin melakukan destinasi atau tour. Mengapa diberi nama Wara Wiri Tour, karena telah terlebih dahulu diminta pendapat dari client dan mendapat beberapa pertimbangan dan bertujuan memudahkan pengguna dalam mengingat nama website ini sehingga disepakatilah nama website ini yaitu Wara Wiri Tour. Wara Wiri Tour ini akan mengarahkan Anda kepada destinasi yang Anda tuju. Berupa gambaran umum maupun penjelasan secara detail dan menyeluruh tentang sistem informasi penyedia jasa layanan tour dan travel sebagai acuan Anda dalam melakukan destinasi yang menyenangkan. Adapun website ini ditujukan kepada seluruh traveler maupun Masyarakat Indonesia sebagai sarana pemesanan transportasi serta informasi seputar wahana wisata budaya di Indonesia.
</p>
    </div>
    <div class="row mb-4">
      <div class="col-md-6 mb-4">
        <img src="https://i.ibb.co/FHtSqL1/Whats-App-Image-2023-12-10-at-20-55-58-1.jpg" alt="About Us Image" class="img-about img-fluid" />
      </div>
      <div class="col-md-6">
        <img src="https://i.ibb.co/9ZF864y/Whats-App-Image-2023-12-10-at-20-55-59.jpg" alt="About Us Image" class="img-about img-fluid" />
      </div>
    </div>
    
  </div>
</section>
<section class="">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-6">
                <h3>Menemani Perjalanan Anda Menuju Destinasi Impian</h3>
            <p class="text-justify">Wara Wiri Tour akan membantu Anda untuk mencari perencanaan destinasi atau tour, waktu perjalanan destinasi, lokasi destinasi. Wara Wiri Tour akan membantu Anda untuk melakukan perjalanan destinasi baik dalam negeri dan luar negeri utamanya untuk destinasi domestik untuk mengenal budaya di wilayah Indonesia.
</p>
            </div>
            <div class="col-md-6">
                <img src="https://i.ibb.co/qYWc405/Whats-App-Image-2023-12-10-at-20-55-58.jpg" alt="About Us Image" class="img-about img-fluid" />
            </div>
        </div>
    </div>
</section>

</section>
<section class="">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-6">
                <img src="https://i.ibb.co/2h6j19s/Whats-App-Image-2023-12-10-at-20-55-56-1.jpg" alt="About Us Image" class="img-about img-fluid" />
            </div>
            <div class="col-md-6">
                <h3 class="text-end">Penawaran Menarik dan Pengalaman Pemesanan Online yang Mudah</h3>
            <p class="text-start">Wara Wiri Tour ini di beberapa waktu akan ada melakukan penawaran pemesanan paket tour destinasi. Penawaran ini dirancang untuk memberikan pengguna pengalaman yang intuitif dan efisien. Melalui antarmuka yang responsif, pengguna dapat dengan mudah menjelajahi berbagai paket tour, memilih destinasi, dan melakukan pemesanan secara online. Fitur pencarian yang memungkinkan pengguna untuk menyesuaikan preferensi mereka. Sehingga dari penawaran paket tour yang ada membuat Anda akan mengunjungi website wara wiri tour ini. Karena tujuan wara wiri tour ini agar Anda mendapat pengalaman destinasi yang menyenangkan.</p>
            </div>
        </div>
    </div>
</section>

<!-- <section class="">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-6">
                <h3>Our Story</h3>
            <p class="text-start">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quos mollitia odit ipsa laudantium sint laborum, hic, nihil debitis eos pariatur illum soluta id voluptatem? Reprehenderit non temporibus odio molestias earum repellendus labore sunt, suscipit totam adipisci fuga consectetur vel sint ipsa dolores repudiandae nisi tempore harum laudantium natus ullam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus facilis dignissimos repudiandae, ipsum praesentium illum esse saepe, ratione ullam soluta velit quisquam exercitationem hic facere officia itaque recusandae fuga, quis eveniet quibusdam placeat id dolores doloremque? Itaque velit modi vel pariatur sapiente libero quas distinctio. Aspernatur delectus corrupti commodi reiciendis. </p>
            </div>
            <div class="col-md-6">
                <img src="/img/slide-3.jpg" alt="About Us Image" class="img-fluid" />
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-6">
                <img src="/img/slide-4.jpg" alt="About Us Image" class="img-fluid" />
            </div>
            <div class="col-md-6">
                <h3 class="text-end">Our Story</h3>
            <p class="text-start">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quos mollitia odit ipsa laudantium sint laborum, hic, nihil debitis eos pariatur illum soluta id voluptatem? Reprehenderit non temporibus odio molestias earum repellendus labore sunt, suscipit totam adipisci fuga consectetur vel sint ipsa dolores repudiandae nisi tempore harum laudantium natus ullam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus facilis dignissimos repudiandae, ipsum praesentium illum esse saepe, ratione ullam soluta velit quisquam exercitationem hic facere officia itaque recusandae fuga, quis eveniet quibusdam placeat id dolores doloremque? Itaque velit modi vel pariatur sapiente libero quas distinctio. Aspernatur delectus corrupti commodi reiciendis. </p>
            </div>
        </div>
    </div>
</section> -->

<!-- End About Us -->

<!-- Pemanggilan bagian footer -->
<%- include("partials/footer") %>
