<!-- Pemanggilan bagian header -->
<%- include("partials/header") %>
<!-- Pemanggilan bagian Navbar -->
<%- include("partials/navbar") %>

<!-- Halaman Blog Detail -->
<section id="blog-detail">
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="/img/slide-1.jpg" alt="" class="img-fluid rounded-4 mx-auto d-block pt-3" />
      </div>
    </div>
    <div class="row pt-5">
      <div class="col">
        <h4 class="text-center">lorem lorem lorem lorem</h4>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae aspernatur non ducimus molestias quam expedita autem, at quaerat id ipsa eaque doloremque vel quia exercitationem nulla sunt unde pariatur laboriosam natus fuga neque quo earum illo. Accusantium adipisci non
          dicta voluptate, asperiores, cum, illum a aliquam nobis minima dolorum doloribus cumque odit? Amet eum iure voluptatibus modi praesentium officia magni. Mollitia, explicabo iusto illum odit officia provident consectetur culpa ad nesciunt distinctio. Facilis optio esse
          temporibus repudiandae veritatis autem, commodi suscipit ipsa obcaecati aliquam saepe debitis sint atque. Tempore quos doloribus maiores voluptas vel ad nisi. Numquam reiciendis quaerat corporis? <br /><br />
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat atque nisi nam quis ex architecto suscipit neque perspiciatis repudiandae eaque maiores provident esse dicta laudantium amet, praesentium labore est. Doloremque laborum praesentium, beatae officiis harum
          incidunt dolorem corrupti quis molestias delectus? Porro fugiat culpa similique ex animi perspiciatis nesciunt rerum dolore, ipsa sapiente earum officiis aliquid mollitia natus odio deserunt vel nobis laborum veritatis placeat tempora quis qui facere eaque. Harum beatae
          dolorem suscipit voluptatibus explicabo omnis ab reprehenderit ratione quibusdam sit, doloribus numquam qui autem non necessitatibus repellendus obcaecati dolore delectus, corporis maiores sint nihil in veniam. Tempore, esse! <br /><br />
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ab quo harum distinctio hic eos fuga eius explicabo! Asperiores expedita et, rerum voluptates dolorum mollitia necessitatibus suscipit dolorem beatae harum, aperiam doloribus. Consequatur tenetur non
          porro ipsa aut, voluptates, quos hic, totam reprehenderit dignissimos iste. Iure nulla non deserunt velit! Asperiores quas possimus, eaque laudantium esse exercitationem recusandae sequi, veniam cumque architecto autem. Ea velit architecto mollitia officiis sapiente
          quas dolorem, dolor excepturi temporibus eos praesentium illum quisquam itaque vel nulla magni possimus vero eligendi! Veritatis distinctio consequatur magni quibusdam. Corrupti, amet dignissimos. Nihil illo magnam cum doloremque, deserunt mollitia. Lorem ipsum dolor
          sit, amet consectetur adipisicing elit. Quae aspernatur non ducimus molestias quam expedita autem, at quaerat id ipsa eaque doloremque vel quia exercitationem nulla sunt unde pariatur laboriosam natus fuga neque quo earum illo. Accusantium adipisci non dicta voluptate,
          asperiores, cum, illum a aliquam nobis minima dolorum doloribus cumque odit? Amet eum iure voluptatibus modi praesentium officia magni. Mollitia, explicabo iusto illum odit officia provident consectetur culpa ad nesciunt distinctio. Facilis optio esse temporibus
          repudiandae veritatis autem, commodi suscipit ipsa obcaecati aliquam saepe debitis sint atque. Tempore quos doloribus maiores voluptas vel ad nisi. Numquam reiciendis quaerat corporis? <br /><br />
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat atque nisi nam quis ex architecto suscipit neque perspiciatis repudiandae eaque maiores provident esse dicta laudantium amet, praesentium labore est. Doloremque laborum praesentium, beatae officiis harum
          incidunt dolorem corrupti quis molestias delectus? Porro fugiat culpa similique ex animi perspiciatis nesciunt rerum dolore, ipsa sapiente earum officiis aliquid mollitia natus odio deserunt vel nobis laborum veritatis placeat tempora quis qui facere eaque. Harum beatae
          dolorem suscipit voluptatibus explicabo omnis ab reprehenderit ratione quibusdam sit, doloribus numquam qui autem non necessitatibus repellendus obcaecati dolore delectus, corporis maiores sint nihil in veniam. Tempore, esse! <br /><br />
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus ab quo harum distinctio hic eos fuga eius explicabo! Asperiores expedita et, rerum voluptates dolorum mollitia necessitatibus suscipit dolorem beatae harum, aperiam doloribus. Consequatur tenetur non
          porro ipsa aut, voluptates, quos hic, totam reprehenderit dignissimos iste. Iure nulla non deserunt velit! Asperiores quas possimus, eaque laudantium esse exercitationem recusandae sequi, veniam cumque architecto autem. Ea velit architecto mollitia officiis sapiente
          quas dolorem, dolor excepturi temporibus eos praesentium illum quisquam itaque vel nulla magni possimus vero eligendi! Veritatis distinctio consequatur magni quibusdam. Corrupti, amet dignissimos. Nihil illo magnam cum doloremque, deserunt mollitia.
        </p>
      </div>
    </div>
  </div>
  <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-4 back-to-top" id="btn-back-to-top"><i class="bi bi-arrow-up"></i></a>
</section>

<section></section>

<!-- Halaman Blog Detail -->

<!-- Pemanggilan bagian footer -->
<%- include("partials/footer") %>
