<!-- Pemanggilan bagian header -->
<%- include("partials/header") %>
<!-- Pemanggilan bagian Navbar -->
<%- include("partials/navbar") %>

<style>
    .box {
        border: 1px solid #000; 
        padding: 30px; 
        text-align: justify;
        align-items: center;
        display: flex;
        
    }
    .icon {
        margin-bottom: 30px;
    }
    .text {
        margin-top: 30px;
    }
    .icon img {
    max-width: 70%;
    max-height: 70%;
}
</style>

<body id="body">

    <!-- Contact Us -->
    <section class="contact">
        <center>
            <div class="content">
                <h4>Contact Us</h4>
                <h5>You can Contact Us for travel guide or for any other relevant information</h5>
            </div>
        </center>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="contact-info">
                            <div class="info-item">
                                <div class="icon">
                                    <i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
                                </div>
                                <div class="text">
                                    <h4>Email</h4>
                                    <a href="mailto:warawiribusiness@gmail.com" style="color:black">warawiribusiness@gmail.com</a>
                                </div>
                            </div>
                    
                            <div class="info-item">
                                <div class="icon">
                                    <i class="fa fa-whatsapp fa-5x" aria-hidden="true"></i>
                                </div>
                                <div class="text">
                                    <h4>WhatsApp</h4>
                                    <p>+62872 1141 2002</p>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-6">
                        <div class="icon">
                            <img src="/img/slide-3.jpg" alt="test" class="img-fluid" />
                        </div>
                    </div>
                </div>
                
                </div>

            </div>
        </section>
    </section>
    <!-- Pemanggilan bagian footer -->
    <%- include("partials/footer") %>
