<!-- Pemanggilan bagian header -->
<%- include("partials/header") %>
<!-- Pemanggilan bagian Navbar -->
<%- include("partials/navbar") %>

<body id="body">
  <!-- Contact Us -->

  <div class="text-center">
    <h4>Contact Us</h4>
    <h5>You can Contact Us for travel guide or for any other relevant information</h5>
  </div>

        <section>
            <div class="container">
                <div<div class="row">
                    <div class="col-5">
                        <div class="contact-info">
                            <div class="info-item">
                                <div class="icon">
                                    <i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
                                </div>
                                <div class="text">
                                    <h4>Email</h4>
                                    <a href="mailto:warawiribusiness@gmail.com" style="color:black">warawiribusiness@gmail.com</a>
                                </div>
                            </div>
                    
                            <div class="info-item">
                                <div class="icon">
                                    <i class="fa fa-whatsapp fa-5x" aria-hidden="true"></i>
                                </div>
                                <div class="text">
                                    <h4>WhatsApp</h4>
                                    <p>+62872 1141 2002</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-7">
                        <div class="icon">
                            <img src="/img/slide-3.jpg" alt="test" class="img-fluid rounded" />
                        </div>
                    </div>
                
                </div>
                <div class="col-md-6">
                  <h4>Email</h4>
                  <a href="mailto:warawiribusiness@gmail.com" style="color: black">warawiribusiness@gmail.com</a>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <i class="fa fa-whatsapp fa-5x" aria-hidden="true"></i>
                </div>

                <div class="col-md-9">
                  <h4>WhatsApp</h4>
                  <p>+62872 1141 2002</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <img src="/img/slide-3.jpg" alt="test" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Pemanggilan bagian footer -->
  <%- include("partials/footer") %>
</body>
