<!-- Pemanggilan bagian header -->
<%- include("partials/header") %>
<!-- Pemanggilan bagian Navbar -->
<%- include("partials/navbar") %>

<style>
    /* Gaya CSS untuk tombol bulat */
    .contact-button {
        position: fixed;
        bottom: 10px;
        right: 20px;
        width: 60px;
        height: 60px;
        background-color: #007bff;
        border-radius: 50%;
        text-align: center;
        line-height: 60px;
        z-index: 999;
    }

    .contact-button img {
        width: 45px; 
        height: 45px; 
        vertical-align: middle;
    }
</style>
<section id="faq" class="pt-5">
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-6">
                <h4>FAQ</h4>
            </div>
        </div>
    </div>
    <div class="faq-block">
        <ul>
            <li>
                <h5>What is Wara Wiri Travel?</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur tempore vitae cupiditate facilis maxime quae magni distinctio quaerat explicabo sint perspiciatis eaque a, quasi aspernatur fuga nesciunt praesentium qui adipisci.</p>
            </li>
            <li>
                <h5>What travel tour packages are offered by Wara Wiri?</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur tempore vitae cupiditate facilis maxime quae magni distinctio quaerat explicabo sint perspiciatis eaque a, quasi aspernatur fuga nesciunt praesentium qui adipisci. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quaerat molestiae saepe odit soluta asperiores iure perferendis id nisi rerum. Omnis quos iure suscipit distinctio sunt atque asperiores harum placeat. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex modi alias corrupti eaque reprehenderit quisquam eius quos accusamus, debitis mollitia! Quis sint autem accusamus! Iure architecto consectetur aut quod molestiae.</p>
            </li>
            <li>
                <h5>How to book a travel package at Wara Wiri Travel?</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur tempore vitae cupiditate facilis maxime quae magni distinctio quaerat explicabo sint perspiciatis eaque a, quasi aspernatur fuga nesciunt praesentium qui adipisci. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quaerat molestiae saepe odit soluta asperiores iure perferendis id nisi rerum. Omnis quos iure suscipit distinctio sunt atque asperiores harum placeat. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex modi alias corrupti eaque reprehenderit quisquam eius quos accusamus, debitis mollitia! Quis sint autem accusamus! Iure architecto consectetur aut quod molestiae.</p>
            </li>
        </ul>
    </div>
</section>
<div class="contact-button">
    <a href="https://api.whatsapp.com/send?phone=nomor-telepon-anda">
        <img src="/img/plus.png" alt="Kontak" class="img-fluid" />
    </a>
    <p>
        Kontak
    </p>
</div>

<!-- Pemanggilan bagian footer -->
<%- include("partials/footer") %>