<!-- Pemanggilan bagian header -->
<%- include("partials/header") %>
<!-- Pemanggilan bagian Navbar -->
<%- include("partials/navbar") %>

<!-- Start home  -->
<section id="slider" class="pt-5">
  <div class="container">
    <div class="row text-center mb-3">
      <div class="col-md-10">
        <h5>Temukan, Rasakan dan ciptakan kenangan tak terlupakan</h5>
      </div>
      <div class="col-md-2">
        <button class="button-fitur">Jelajahi Lagi</button>
      </div>
    </div>

    <div class="slider">
      <div class="owl-carousel">
        <div class="slider-card">
          <div class="d-flex justify-content-center align-items-center mb-4">
            <img src="/img/slide-1.jpg" alt="" />
          </div>
          <div class="position-absolute bottom-0 start-0 text-center w-100">
            <h5><b>Candi Prambanan</b></h5>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid exercitationem accusamus quam minus, tempore obcaecati quia, asperiores ad culpa cupiditate mollitia unde magnam perferendis quibusdam deserunt hic odit blanditiis voluptatem facere quaerat tenetur
              sit omnis dolores provident? Molestiae repellendus est velit quo tempora vitae corporis. Maxime fugit facere quae enim voluptatum esse quibusdam hic incidunt, quisquam laudantium sed ullam temporibus tempora quo voluptates nam ex optio voluptate molestias recusandae
              earum. Velit, provident esse? Magni placeat sunt dicta, aspernatur neque sed? Blanditiis accusantium nihil atque, ullam excepturi omnis rerum explicabo. Corporis dolores necessitatibus nostrum dolorum ex nemo magnam quam ipsum doloribus.
            </p>
          </div>
        </div>
        <div class="slider-card">
          <div class="d-flex justify-content-center align-items-center mb-4">
            <img src="/img/slide-2.jpg" alt="" />
          </div>
          <div class="position-absolute bottom-0 start-0 text-center w-100">
            <h5><b>Candi Borobudur</b></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam temporibus quidem magni qui doloribus quasi natus inventore nisi velit minima.</p>
          </div>
        </div>
        <div class="slider-card">
          <div class="d-flex justify-content-center align-items-center mb-4">
            <img src="/img/slide-3.jpg" alt="" />
          </div>
          <div class="position-absolute bottom-0 start-0 text-center w-100">
            <h5><b>Mountains</b></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam temporibus quidem magni qui doloribus quasi natus inventore nisi velit minima.</p>
          </div>
        </div>
        <div class="slider-card">
          <div class="d-flex justify-content-center align-items-center mb-4">
            <img src="/img/slide-4.jpg" alt="" />
          </div>
          <div class="position-absolute bottom-0 start-0 text-center w-100">
            <h5><b>Sea</b></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam temporibus quidem magni qui doloribus quasi natus inventore nisi velit minima.</p>
          </div>
        </div>
        <div class="slider-card">
          <div class="d-flex justify-content-center align-items-center mb-4">
            <img src="/img/slide-5.jpg" alt="" />
          </div>
          <div class="position-absolute bottom-0 start-0 text-center w-100">
            <h5><b>Sandy Beach</b></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam temporibus quidem magni qui doloribus quasi natus inventore nisi velit minima.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End home -->
<!-- Pemanggilan bagian footer -->
<%- include("partials/footer") %>
