<!-- Pemanggilan bagian header -->
<%- include("partials/header") %>
<!-- Pemanggilan bagian Navbar -->
<%- include("partials/navbar") %>

<!-- Start home  -->
<section id="slider" class="pt-5">
  <div class="container">
    <div class="row text-center mb-3">
      <div class="col-md-10">
        <h5>Temukan, Rasakan dan ciptakan kenangan tak terlupakan</h5>
      </div>
      <div class="col-md-2">
        <button class="button-fitur">Jelajahi Lagi</button>
      </div>
    </div>

    <div class="slider">
      <div class="owl-carousel">
        <div class="slider-card">
          <div class="d-flex justify-content-center align-items-center mb-4">
            <img src="/img/slide-1.jpg" alt="" />
          </div>
          <div class="position-absolute top-50 start-50 translate-middle text-center w-100">
            <h5><b>HTML CSS3 Tutorials</b></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam temporibus quidem magni qui doloribus quasi natus inventore nisi velit minima.</p>
          </div>
        </div>
        <div class="slider-card">
          <div class="d-flex justify-content-center align-items-center mb-4">
            <img src="/img/slide-2.jpg" alt="" />
          </div>
          <div class="position-absolute top-50 start-50 translate-middle text-center w-100">
            <h5><b>Wordpress Tutorials</b></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam temporibus quidem magni qui doloribus quasi natus inventore nisi velit minima.</p>
          </div>
        </div>
        <div class="slider-card">
          <div class="d-flex justify-content-center align-items-center mb-4">
            <img src="/img/slide-3.jpg" alt="" />
          </div>
          <div class="position-absolute top-50 start-50 translate-middle text-center w-100">
            <h5><b>PHP MySQL Tutorials</b></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam temporibus quidem magni qui doloribus quasi natus inventore nisi velit minima.</p>
          </div>
        </div>
        <div class="slider-card">
          <div class="d-flex justify-content-center align-items-center mb-4">
            <img src="/img/slide-4.jpg" alt="" />
          </div>
          <div class="position-absolute top-50 start-50 translate-middle text-center w-100">
            <h5><b>Javascript Tutorials</b></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam temporibus quidem magni qui doloribus quasi natus inventore nisi velit minima.</p>
          </div>
        </div>
        <div class="slider-card">
          <div class="d-flex justify-content-center align-items-center mb-4">
            <img src="/img/slide-5.jpg" alt="" />
          </div>
          <div class="position-absolute top-50 start-50 translate-middle text-center w-100">
            <h5><b>Bootstrap Tutorials</b></h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam temporibus quidem magni qui doloribus quasi natus inventore nisi velit minima.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End home -->
<!-- Pemanggilan bagian footer -->
<%- include("partials/footer") %>
